<div class="card">
    <div class="card-body">
        <div class='row'>
            <div class='col-md-8'>
                <div class='row'>
                    <div class='col-md-4'> Full owner name:</div>
                    <div class='col-md-8'><a href="{{ data?.owner?.html_url}}"
                            target="_blank">{{ data?.owner?.login}}</a></div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Repository name:</div>
                    <div class='col-md-8'><a href="{{ data?.html_url}}"
                            target="_blank">{{data?.name}}</a></div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Number of open issues:</div>
                    <div class='col-md-8'>{{data?.open_issues}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>Default branch:</div>
                    <div class='col-md-8'>{{data?.default_branch}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
