<!-- <div class="container text-center mt-2"> -->
    <div class="columns">
        <div class="column is-four-fifths">
            <input type="text" class="search" placeholder="Search for repositories" [ngModel]="searchText" (ngModelChange)="onSearchTextUpdate($event);">
        </div>
        <div class="column">
            <button class="btn btn-primary" type="button" (click)="submitSearch()">Search</button>
        </div>
    </div>
<!-- </div> -->
