.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 60px;
  height: 60px;
  margin: -75px 0 0 -75px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .search-box{
    position: relative;
    padding-left: 15px;
  }

  /* @media only screen and (max-width: 768px){
    .card{
    width: 100%
    }
  } */
  .card-body p strong{
    color: rgb(74, 131, 196);
  }

  .card {
    font-family: Times, Times New Roman, Georgia, serif;
  }
 
  .card-body .author {
    color: goldenrod;
  }
  .fa-star {
    color: goldenrod;
  }

  .fa-code-fork {
    color: green;
  }

  .fa-eye {
    color: dodgerblue;
  }