<div class="container mt-2">
    <!-- <div>
        <input class="form-control" type="text" placeholder="Search for repositories" aria-label="Search"
            [ngModel]="searchText" (ngModelChange)="onSearchTextUpdate($event);">
    </div> -->

    <div class="search-box">
        <app-search-bar (enteredText)="onTextChange($event)"></app-search-bar>
    </div>
    <div class="container mt-2">

            <h3 class="text-center" *ngIf="collectionSize == 0 && searchStarted">No Results Found</h3>
            <h3 class="text-center" *ngIf="!searchStarted">Please Enter the Name to search</h3>
            <div class="text-center mt-2 mb-2 loader" *ngIf ="searching" >
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-sm-12 mt-2" *ngFor="let item of repos ; let i = index;" >
                    <div class="card">
                        <div class="card-body" (click)="detailView(item)">
                            <p><strong>{{ item?.name }}</strong></p>
                            <p class="description">{{ item?.description }}</p>
                            <p class="author"><strong>Author:&nbsp;</strong>{{ item?.owner?.login }}</p>
                            <div class="row text-center mt-4">
                                <div class="col-3">
                                    <strong style="font-size: 14px;">Last Updated:&nbsp;</strong> {{ item?.updated_at | date }}
                                </div>
                                <div class="col-3">
                                    <i class="fa fa-star fa-lg" aria-hidden="true"></i><br>{{ item?.stargazers_count }}
                                </div>
                                <div class="col-3">
                                    <i class="fa fa-code-fork fa-lg" aria-hidden="true"></i><br>{{ item?.forks_count }}
                                </div>
                                <div class="col-3">
                                    <i class="fa fa-eye" aria-hidden="true"></i><br>{{ item?.watchers_count }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="container mt-2" *ngIf="repos && collectionSize">
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-auto">
                <ngb-pagination class="d-none d-md-block" [(page)]="page" [pageSize]="pageSize" maxSize="5"
                    [collectionSize]="collectionSize" (pageChange)="pageChange($event)" rotate="true"></ngb-pagination>
                <ngb-pagination class="d-md-none" [(page)]="page" [pageSize]="pageSize" maxSize="5" [ellipses]="false"
                    [boundaryLinks]="false" [collectionSize]="collectionSize" (pageChange)="pageChange($event)"
                    rotate="true">
                </ngb-pagination>
            </div>
        </div>

    </div>

</div>
