<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="text-left" routerLink=''> <i class="arrow left"></i> Back to List</p>
            <h2 class="text-center">Detail For {{data?.name}}</h2>
            <div class="container md-4 mt-2">
              <app-detail-card [data]="data"></app-detail-card>
            </div>
            <div class="readme">
                <div #myDiv>
                </div>
            </div>
            <div class="mt-4" *ngIf="noReadMe">
                <h2> Error fetching Read Me file</h2>
            </div>
        </div>
    </div>