.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }  

  .readme {
    position: relative;
    margin-top: 20px;
    overflow-x: unset;
    contain: content;
  }